.stylea {
	textColor: 0xffffff;
	condenseWhite: false;
	multiline: true;
	font-family: FranklinBook;
	embedFonts: true;
	autoSize: left;
	font-size: 25;
}

.styleb {
	textColor: 0x333333;
	autoSize: left;
	font-size: 25;
	condenseWhite: false;
	multiline: true;
	embedFonts: true;
	font-family: FontA;
}

.truc {
	autoSize: left;
	font-family: FontB;
}

