/*
 available fonts
 	GillSansLight
 	
 */


.default {
	font-family: _sans;
	embedFont: false;
	antiAliasType: advanced;
	color: #000000;
	autoSize: left;
	multiline: false;
	wordWrap: false;
	selectable: false;
	
}

.home_title>.default {
	font-size: 30; 
	color: #010101;
}

.home_title_nav>.default {
	font-size: 20; 
	gridFitType: pixel;
	thickness: 20;
	sharpness: 0;
}

.nav_main_label>.default {
	font-size: 18; 
	gridFitType: pixel;
	thickness: 20;
	sharpness: 0;
	color: #ffffff;
}

.nav_btn_label>.default {
	font-family: GillSans_MT;
	font-size: 12; 
	gridFitType: pixel;
	thickness: 20;
	sharpness: 0;
	color: #731b0a;
}

.volume_switch>.default {
	font-family: GillSans_MT;
	font-size: 12;
	color: #bebebe;
	autoSize: left;
	multiline: false;
	wordWrap: false;
}
.volume_highlight {
	color: #731b0a;
}

.tooltip {
	font-family: verdana;
	font-size: 9; 
	color: #ffffff;
	autoSize: left;
	multiline: false;
	wordWrap: false;
	selectable: false;
	antiAliasType: advanced;
	y: -2;
}

.product_description_bold>.default {
	font-family: _sans;
	font-size: 12; 
	leading: -1; 
	color: #731b0a;
	multiline: true;
	wordWrap: false;
	condenseWhite: true;
	antiAliasType: advanced;
	thickness: 80;
	sharpness: 0;
	gridFitType: pixel;
}

.product_description_l>.product_description_bold {
	autoSize: left;
	textAlign: left;
}

.product_description_r>.product_description_bold {
	autoSize: right;
	textAlign: right;
}

.product_description {
	y: -3;
	font-family: _sans;
	font-size: 12;
	leading: -1; 
	color: #731b0a;
}

