
.default {
	autoSize: left;
	antiAliasType: advanced;
	thickness: -40;
	sharpness: 80;
	embedFonts: true;
	font-family: arial;
}

.titleh1>.default {
	font-size: 18;
}

.titleh2>.default {
	font-size: 15;
}

.description>.default {
	font-size: 11;
	color: #4c4c4c;
	condenseWhite: true;
	multiline: true;
}

.link>.description {
	font-size: 11;
	color: #cc3300;
	text-decoration: underline;
}


