.stylea {
	embedFonts: true;
	type: input;
	autoSize: left;
	wordWrap: true;
	font-family: FranklinBook;
	multiline: false;
	antiAliasType: advanced; 
	condenseWhite: false; 
	thickness: 90;
	textColor: 0x191919;
	font-size: 11;
}

.truc {
	font-family: NissanAGBold;
	autoSize: right;
}

.styleb {
	embedFonts: true;
	autoSize: left;
	font-family: FontA;
	multiline: true;
	condenseWhite: false;
	textColor: 0x333333;
	font-size: 25;
}

