.styleb {
	textColor: 0x0;
	autoSize: left;
	font-size: 25;
	multiline: true;
	condenseWhite: false;
	embedFonts: true;
	font-family: FontA;
}

.stylea {
	textColor: 0xff0000;
	condenseWhite: false;
	multiline: true;
	font-family: FontB;
	autoSize: left;
	embedFonts: true;
}
